Checks: >
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/'

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 40